source/ConsoleBackUp/bin/
source/ConsoleBackUp/obj/
source/EFolderDomain/bin/
source/EFolderDomain/obj/
source/UnitTestEFolderBackUp/bin/
source/UnitTestEFolderBackUp/obj/
source/.vs/
app/app.publish/
app/ConsoleBackUp.vshost.exe
ThirdParty/JavaService/todoitemserver-1.0/bin/logs/
ThirdParty/JavaService/todoitemserver-1.0/bin/RUNNING_PID
ThirdParty/TestClientApp/.vs/
ThirdParty/TestClientApp/TestClientApp/obj/