source/ConsoleBackUp/bin/
source/ConsoleBackUp/obj/
source/EFolderDomain/bin/
source/EFolderDomain/obj/
source/UnitTestEFolderBackUp/bin/
source/UnitTestEFolderBackUp/obj/
source/.vs/
app/app.publish/
app/ConsoleBackUp.vshost.exe